{% extends '_base.html' %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for blog in blogs %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ blog.datetime_created }}</h6>
                            <p class="card-text py-3">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>
                            <a class="btn btn-sm btn-success" href="{% url 'blog_detail' blog.id %}">Read More</a>
                            <a class="btn btn-sm btn-primary" href="{% url 'edit_blog' blog.id%}">Edit</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_blog' blog.id%}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}